@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.header-general, .header-servicio_tecnico {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding: 5px;
  background-repeat: no-repeat;
  background-image: url(../img/headers/header.png);
}

.header-servicio_tecnico {
  background-image: url(../img/headers/Header3.jpeg);
}

.clases1 {
  display: flex;
  flex-direction: row;
  justify-content: column;
  flex-wrap: wrap;
}

.bg-lightblue {
  background-color: rgb(36, 159, 213);
}

.bg-black {
  background-color: rgb(50, 50, 50);
}

.bg-gray {
  background-color: gray;
}

* {
  font-family: "Open Sans", sans-serif;
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  color: rgb(36, 159, 213);
  font-size: 7em;
  text-align: center;
  animation-name: textAlpha;
  animation-duration: 4s;
  font-weight: 600;
}

h2,
h3,
h4,
h5,
h6 {
  color: rgb(50, 50, 50);
  font-size: 3em;
  margin: 8px;
  padding: 20px;
}

@keyframes textAlpha {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
p {
  color: gray;
  font-weight: 580;
  font-size: 2.5em;
  line-height: 3rem;
  padding: 20px 30px;
  margin: 10px;
  text-align: center;
}

header img {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding: 1px;
  background-repeat: no-repeat;
}

/* Start Main */
.main {
  padding: 10px 30px;
}
.main section a {
  background-color: gray;
  color: whitesmoke;
  padding: 5px;
}
.main img {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding-top: 60px;
}

footer {
  background-color: rgb(50, 50, 50);
  padding: 10px 30px;
  margin-top: 40px;
  list-style: none;
}
footer svg {
  width: 40px;
  height: 40px;
  fill: whitesmoke;
  margin-right: 30px;
}

.bi-whatsapp {
  position: fixed;
  right: 5px;
  bottom: 65px;
  width: 50px;
  height: 50px;
  fill: rgb(6, 158, 16);
}

.bi-instagram {
  width: 35px;
  height: 35px;
  fill: whitesmoke;
}

.bi-tiktok {
  width: 35px;
  height: 35px;
  fill: whitesmoke;
}

.bi-geo-alt {
  width: 35px;
  height: 35px;
  fill: whitesmoke;
}

.bi-instagram {
  width: 3.5em;
  height: 3.5em;
  fill: whitesmoke;
}

.bi-tiktok {
  width: 3.5em;
  height: 3.5em;
  fill: whitesmoke;
}

.bi-geo-alt {
  width: 3.5em;
  height: 3.5em;
  fill: whitesmoke;
}

.bg-whitesmoke {
  background-color: rgba(255, 255, 255, 0.7); /* Cambia el valor 0.5 según el nivel de transparencia que desees (0.0 a 1.0) */
  font-size: 2.5em;
  border-radius: 1em;
  text-align: center;
  margin: 1em;
  word-spacing: 0.1em;
  font-weight: 580;
}

.text_main {
  font-size: 2.5em;
  color: whitesmoke;
  font-weight: 580;
  text-align: center;
  margin: 0.1em;
  padding: 0.1em;
  word-spacing: 0.1em;
  animation-name: textAlpha;
  animation-duration: 4s;
  flex-direction: column;
}

.list-group-item {
  font-size: 1.3em;
}

.bg-grey, .bg-grey-clases {
  background-color: rgba(36, 159, 213, 0.9);
  padding: 25px;
  border-radius: 10px;
  color: whitesmoke;
}

.text-colour {
  color: rgb(50, 50, 50);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bg-height {
  background-size: 470px 300px;
}

.bg-blue {
  font-size: 1.3em;
  border-radius: 1em;
  background-color: rgba(36, 159, 213, 0.9);
  color: whitesmoke;
  box-shadow: inset;
  width: 15em;
  height: 4em;
  margin-top: 1em;
  border-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgb(50, 50, 50);
  color: whitesmoke;
}

.card-title {
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  background-color: rgba(50, 50, 50, 0.7);
  color: whitesmoke;
  margin: 20px;
  border-radius: 10PX;
  letter-spacing: 0.1em;
}

.cards-text {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 15px;
  max-height: 3.6em; /* Ajusta este valor según tus necesidades */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Ajusta este valor según tus necesidades */
  -webkit-box-orient: vertical;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el contenido desbordado */
  text-overflow: ellipsis;
}

.button-cards {
  background-color: transparent;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.paragrph_colour {
  color: gray;
  width: 100%;
  height: auto;
  margin: 10px auto;
  padding: 10px;
}

/* box model */
.contenedor {
  background-color: rgb(36, 159, 213);
  width: 90%;
  height: auto;
  margin: 50px auto;
  padding: 20px 30px;
  border: solid 1px gray;
}

.contenedor2 {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
}

.grid {
  width: 99%;
  display: grid;
}

.grids-template-columns-row {
  grid-template-columns: 1fr 1fr; /* Dos columnas del mismo tamaño */
  grid-template-rows: auto; /* Dos filas del mismo tamaño */
  gap: 20px;
  padding: 30px;
}

.text, .text-paragraph-3, .text-paragraph-2, .text-paragraph {
  color: gray;
  font-size: 2.5em;
  overflow: hidden;
  white-space: normal;
  text-align: center;
  padding-inline: 1px;
  padding: 10px;
  margin: 20px;
}

.text-paragraph {
  color: whitesmoke;
  font-size: 2.2em;
  background-color: rgba(36, 159, 213, 0.6);
  border-radius: 0.4em;
}

.text-paragraph-2 {
  color: whitesmoke;
  font-size: 2.2em;
  background-color: rgba(149, 160, 165, 0.6);
  border-radius: 0.4em;
}

.text-paragraph-3 {
  color: whitesmoke;
  font-size: 0.6em;
  border-radius: 0.4em;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 2px 4px rgb(50, 50, 50);
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 10px;
  width: 100%; /* Ancho del cuadro al 100% del contenedor */
  height: 100%; /* Altura del cuadro al 100% del contenedor */
  box-shadow: 0px 2px 4px rgb(50, 50, 50);
}

.custom-button, .custom-button-yelowbright {
  background-color: rgba(50, 50, 50, 0.7);
  color: rgba(255, 255, 255, 0.6);
  padding: 20px 20px;
  border: 20px;
  cursor: pointer;
  margin: 40px;
  border-radius: 10px;
  font-size: 2.5em;
  box-shadow: 0px 2px 4px rgb(50, 50, 50);
  width: 10em;
  height: 5em;
  font-size: 1.9em;
  font-weight: 3em;
  border: 1px solid white;
}

.maps {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form {
  font-size: 1.3em;
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 6em;
  margin-bottom: 4em;
}

.btn_contacto {
  background-color: rgba(50, 50, 50, 0.7);
  color: whitesmoke;
  border-radius: 0.3em;
}

.custom-button-yelowbright {
  background-color: rgb(50, 50, 50);
}

.bg-grey-clases {
  background-color: rgba(36, 159, 213, 0.9);
}

.clases1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3px;
  border-radius: 10px;
  width: 100%; /* Ancho del cuadro al 100% del contenedor */
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 2px 4px rgb(50, 50, 50);
}

.row {
  margin: 30px;
}

/* inicia responsive */
@media (width < 768px) {
  nav {
    flex-direction: column;
  }
  h1 {
    font-size: 5em;
  }
  .text_main {
    font-size: 1.9em;
    margin: 1.2em;
    font-weight: 580;
  }
  .main img {
    width: 100%;
  }
  .main {
    flex-direction: column;
  }
  .whatsapp {
    right: 10%;
  }
  .grids-template-columns-row {
    display: inline-block;
    width: 100%;
  }
  .box {
    margin-bottom: 30px;
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }
  .bg-height {
    text-align: center;
  }
  .cards-text {
    font-size: 1.4em;
  }
}
.navbar.botonera {
  background-color: rgb(50, 50, 50);
}
.navbar.botonera .navbar-brand img {
  width: 35px;
  margin-left: 20px;
}
.navbar.botonera .navbar-toggler {
  background-color: whitesmoke;
  margin-right: 20px;
}
.navbar.botonera .navbar-nav.ms-auto li {
  margin-left: 20px;
  color: whitesmoke !important;
}
.navbar.botonera .nav-item .nav-link {
  color: whitesmoke;
  margin: 20px;
  margin-left: 70px;
  font-size: 1.3em;
}

@media (width < 768px) {
  nav {
    flex-direction: column;
  }
  .main img {
    width: 100%;
  }
  .card-img {
    height: 600px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Ajusta el ajuste del objeto según tus necesidades */
  }
  .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px; /* Ajusta esta altura según tus necesidades, debe ser la misma que la altura de la imagen */
  }
  .card-title,
  .cards-text {
    margin: 5px; /* Ajusta los márgenes según tus necesidades */
    text-align: center;
  }
  .cards-text {
    flex: 1; /* Hace que el texto ocupe todo el espacio disponible en la div */
    overflow-y: auto; /* Añade barras de desplazamiento en caso de que el contenido se desborde */
  }
  .main {
    flex-direction: column;
  }
  .whatsapp {
    right: 10%;
  }
  .grids-template-columns-row {
    display: inline-block;
    width: 100%;
  }
  .box {
    margin-bottom: 30px;
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }
  .bg-height {
    text-align: center;
  }
  .cards-text {
    font-size: 14px; /* Tamaño de fuente para pantallas más pequeñas */
  }
}

/*# sourceMappingURL=main.css.map */
