//todo lo general de mi proyecto
*{
    font-family: 'Open Sans', sans-serif;
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

h1{
    color: $mainColor;
    font-size: $textxxl;
    text-align: center;
    animation-name:textAlpha ;
    animation-duration: 6s;
}

h2,
h3,
h4,
h5,
h6{
    color: $secondaryColor;
    font-size: $textLg;
    margin: 8px;
    padding: 20px;
    
}

// animaciones: 
@keyframes textAlpha{
    from {opacity: 0};
    to{opacity: 1;}
}
// end animaciones: 

p{
    color: $keyColor;
    font-weight: $textRegular;
    font-size: $textMd;
    line-height: 3rem; 
    padding: 20px 30px;
    margin: 10px;
    text-align: center;
    
}
header img{
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 1px ;   
    background-repeat:no-repeat;
    
}


/* Start Main */



.main{
    padding: 10px 30px;
    section{
        a{
            background-color:$keyColor ;
            color: $White;
            padding: 5px; 
        }
    }
            img{
                max-width: 100%;
                width: 100%;
                height: auto;
                padding-top: 60px ;
            }
}

// start Footer
footer{
    background-color:$secondaryColor ;
    padding: 10px 30px;
    margin-top: 40px;
    list-style:none;

        svg{
            width: 40px;
            height: 40px;
            fill: $White;
            margin-right: 30px;
        }
}
//  end footer




.bi-whatsapp{
    position: fixed;
    right: 5px;
    bottom: 65px;
    width: 50px;
    height: 50px;
    fill: $green;
   
    
}

.bi-instagram{
    width:35px;
    height: 35px;
    fill:$White;
}

.bi-tiktok{
    width:35px;
    height: 35px;
    fill:$White;
}

.bi-geo-alt{
    width:35px;
    height: 35px;
    fill:$White;
}
// mixins
@mixin footer($with,$height,$fill){
    width:$with;
    height:$height;
    fill:$fill
}

.bi-instagram{
    @include footer(3.5em,3.5em,$White)
}

.bi-tiktok{
    @include footer(3.5em,3.5em,$White)
}

.bi-geo-alt{
    @include footer(3.5em,3.5em,$White)
}

// end mixins


.bg-whitesmoke{
    background-color: $White;
}

.bg-grey{
   background-color:$secondaryColor;
   padding: 25px;
   margin: 30px;
   border-radius: 10px;
   color: $White;
}




.text-colour{
   color:$secondaryColor;
}

.text-center{
   text-align: center;
}

.text-left{
   text-align: left;
}

.text-right{
   text-align: right;
}

.bg-height{
   background-size:470px 300px;
}

.bg-blue {
   background-color:$mainColor;
   color: $White;
   box-shadow:inset;
   
   
}
 
.card-title{
   text-align: center;
   background-color: $gray_transparent;
   color: $White;
   margin: 20px;
   border-radius: 10PX;
}
.cards-text{
   background-color:  $white_transparent;
   border-radius: 10px;
   padding: 15px;
   max-height: 3.6em; /* Ajusta este valor según tus necesidades */
   display: -webkit-box;
   -webkit-line-clamp: 3; /* Ajusta este valor según tus necesidades */
   -webkit-box-orient: vertical;
    white-space:nowrap; /* Evita el salto de línea */
    overflow:hidden; /* Oculta el contenido desbordado */
    text-overflow:ellipsis;
 

}  

.button-cards{
   background-color: transparent;
   align-items: center;
}


.button-container {
   display: flex;
   justify-content:center;
   
 }

 .paragrph_colour{
    color:$keyColor;
    width: 100%;
    height: auto;
    margin: 10px auto ;
    padding: 10px;
}

/* box model */
.contenedor{
    background-color:$mainColor ;
    width: 90%;
    height: auto;
    margin: 50px auto ;
    padding: 20px 30px;
    border:solid 1px $keyColor;
}

.contenedor2{
    background-color:$White;
    width: 100%;
    height: auto;
   
}

// start Grids

.grid{
    width: 99%;
    display: grid;
  }


.grids-template-columns-row{
    grid-template-columns: 1fr 1fr; /* Dos columnas del mismo tamaño */
    grid-template-rows: auto; /* Dos filas del mismo tamaño */
    gap: 20px;
    padding: 30px;
} 

.text{
    color: $keyColor;
    font-size: $textMd ;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    padding-inline: 1px;
    padding: 10px;
    margin: 20px;
    
} 
// extends
.text-paragraph{
    @extend .text;
    color:$White;
    font-size: 2.2em; 
    background-color: $lightblue-clases;
    border-radius: 0.4em;
}
.text-paragraph-2{
    @extend .text;
    color:$White;
    font-size: 2.2em; 
    background-color: $clearblue;
    border-radius: 0.4em;
}
.text-paragraph-3{
    @extend .text;
    color:$White;
    font-size: 0.5em; 
    background-color: $clearblue;
    border-radius: 0.4em;
}
// end extends

.box{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: $White;
    border-radius:10px;
    width: 100%; 
    height: 100%; 
    padding: 20px;
    box-shadow: 0px 2px 4px $secondaryColor;
}


.box2{
    display: flex;
    flex-direction: column;
    align-items:center;
     background-color: $white_transparent ;
     padding: 10px;
     border-radius: 10px;
     width: 100%; /* Ancho del cuadro al 100% del contenedor */
     height: 100%; /* Altura del cuadro al 100% del contenedor */
     box-shadow: 0px 2px 4px $secondaryColor;

}



.custom-button{
    background-color: $yelow; /* Color de fondo del botón (cambia el valor por el que desees) */
    color: $secondaryColor; /* Color del texto del botón */
    padding: 20px 20px; /* Espaciado interno (padding) del botón (ajusta los valores según necesites) */
    border: 20px;; /* Elimina el borde del botón si no deseas tener uno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin: 40px;
    border-radius: 10px;
    font-size: $textMd;
    box-shadow: 0px 2px 4px $secondaryColor;
    
  }

  // extends
  .custom-button-yelowbright{
    @extend .custom-button;
    background-color:$yelowbright ;
}


.bg-grey-clases{
    @extend .bg-grey;
    background-color: $blue;

}
// end extends


.clases1{
    display: flex;
    flex-direction:row;
    align-items:center;
    margin: 3px;
    border-radius: 10px;
    width: 100%; /* Ancho del cuadro al 100% del contenedor */
     height: 100%;
     object-fit: cover;
     box-shadow: 0px 2px 4px $secondaryColor;
  }


.row{
  margin: 30px;  
}  

// end Grids


/* inicia responsive */

@media (width < 768px) {
    nav{
        flex-direction: column;
        
    }
    .main img{
        width: 100%;
    }
    .main {
        flex-direction: column;
    }
   
    .whatsapp {
        right: 10%;
    }
    .grids-template-columns-row{
        display:inline-block;
        width: 100%;
    }
    .box {
      
      margin-bottom: 30px;
      width: 100%;
        
    }
    .footer{
        flex-direction: column;
    }
    .bg-height{
        text-align:center;
    }
    .cards-text {
        font-size: 1.4em; /* Tamaño de fuente para pantallas más pequeñas */
      }
}   