@media (width < 768px) {
    nav{
        flex-direction: column;
    }
    .main img{
        width: 100%;
    }
    .main {
        flex-direction: column;
    }
   
    .whatsapp {
        right: 10%;
    }
    .grids-template-columns-row{
        display:inline-block;
        width: 100%;
    }
    .box {
      
      margin-bottom: 30px;
      width: 100%;
        
    }
    .footer{
        flex-direction: column;
    }
    .bg-height{
        text-align:center;
    }
    .cards-text {
        font-size: 14px; /* Tamaño de fuente para pantallas más pequeñas */
      }
}   