//nesting
.botonera{
    background-color: $mainColor;
        img{
            width: 35px;
            margin: 5px;
           }
            a{
                color:$White;
                margin: 20px;
                margin-left: 70px; 
                font-size: $textMd;     
             }
                button {
                        background-color:$White;
                        margin: 10px;
                       }
}