//variables Globales
$mainColor:rgb(36, 159, 213);
$secondaryColor: rgb(50, 50, 50);
$keyColor: gray;
$White: whitesmoke;

//fonts
$mainfont: "Open Sans";

//Sizing:
$textSm:0.8em;
$textMd:1em;
$textLg:1.6em; 
$textXl:2em;

//Weight
$textBold:600;
$textLight:300;
$textRegular:400;




